<p><%= yield(:search_name) %></p>
<%= form_tag(yield(:path), method: :get) do %>
  <%= text_field_tag :search, params[:search], placeholder: "検索キーワードを入力してください。" %>
  <%= submit_tag 'Search', :name => nil, :class => "btn btn-primary" %>
<% end %>