<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<!--  検索拡張機能  -->

<%# form_tag(users_path, method: :get) do %>
  <%# text_field_tag :search %>
  <%# submit_tag 'Search' %>
<%# end %>

<%# form_tag(users_path, method: :get) do %>
  <%# text_field_tag :search %>
  <%# submit_tag 'Search', :name => nil %>
<%# end %>

<ul class="users users-index">
  <h3>User search</h3>
  <%= render 'users/search' %> 　<!-- searchパーシャル呼出 -->
  <%= render @users %>
</ul>

<%= will_paginate %>